body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: aquamarine;
  color: #fff;
  text-align: center;
  padding: 20px;
}

secton {
  margin: 20px;
}

h2 {
  color: #3498db;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

#contact p {
  margin-bottom: 5px;
}
